
//$primary: #8C1D40; //asu maroon
$primary: #118C4F; //money green

// $secondary: #FFC627; //asu gold
$secondary: #ffcf40; //money gold


// Option A: Include all of Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";

.min-vh-100 {
    min-height: 100vh;
}

#myNavbar {
    top: -0%;
    transition: top 300ms ease; }
  
#myNavbar:-webkit-scrollbar {
    top: -6%; }

.fa {
    color: $secondary;
}

//sass client/src/scss/custom.scss client/src/css/custom.css