$primary: #FFE362;
$secondary: #4f5153;
$success: #118C4F;
$info: #8C97D8;
$warning: #fdff8a;
$danger: #cc3e51;
$light: #F8F9FA;
$dark: #252525;
$teal: #46c59f;
$orange: #d68a4b;
$brown: #b1885d;

$theme-colors: ( "primary": $primary, "secondary": $secondary, "success": $success, "info": $info, "warning": $warning, "danger": $danger, "light": $light, "dark": $dark, "teal": $teal, "orange": $orange, "brown": $brown );

// Option A: Include all of Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";

#myNavbar {
    top: -0%;
    transition: top 300ms ease; }
  
#myNavbar:-webkit-scrollbar {
    top: -6%; }

.fa {
    color: $success;
}

.no-wrap {
    white-space: nowrap;
}

//sass client/src/scss/custom.scss client/src/css/custom.css