// $theme-colors: (
//     "primary": #8C1D40,
//     "secondary": #FFC627
// );

$primary: #8C1D40;
$secondary: #FFC627;

// Option A: Include all of Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";

.min-vh-100 {
    min-height: 100vh;
}

#myNavbar {
    top: -0%;
    transition: top 300ms ease; }
  
#myNavbar:-webkit-scrollbar {
    top: -6%; }

//sass client/src/scss/custom.scss client/src/css/custom.css